body{
  background-color: hsl(257, 40%, 49%);
  color: #FFF;
  padding: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  background-repeat: no-repeat;
}
.logo img{
  /*width: 100%;*/
}
section{
  
}
.main-section h1{
  font-weight: 600;
  font-size: 3.4rem;
  margin-bottom: 35px;
  line-height: 75px;
}
.main-section p{
  margin-bottom: 1.3rem;
}
.illustration-mockups img{
  /*max-width: 100%;
  height: 615px;*/
}

.text-cta .cta-wrapper{
  padding: 0 70px;
  margin: 50px 0;
  font-size: 23px;
}
.cta-wrapper a{
  color: #FFF;
  text-decoration: none;
  background-color: #FFF;
  color: hsl(257, 40%, 49%);
  padding: 20px;
  border-radius: 50px;
  width: 275px;
  text-align: center;
  display: inline-block;
  box-shadow: 0px 8px 8px #333;
}
.cta-wrapper a:hover{
  background-color: hsl(300, 69%, 71%);
  color: #fff;
}
footer{
  display: flex;
}
.footer .social-media{
  padding-right: 20px;
}
.footer a{
  color: #fff;
  border-radius: 50%;
  border-color: #fff;
  font-size: 23px;
  padding: 15px;
  display: inline-block;
  border-style: solid;
  height: 55px;
  margin: 0 10px;
}
.footer a:hover{
  color: hsl(300, 69%, 71%);
  border-color: hsl(300, 69%, 71%);
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 500px) and (max-width: 1199px) {
  body{
    background-image: url(images/bg-mobile.svg);
    background-size: contain;
  }
  .header{
    margin-bottom: 55px;
  }
  .logo{
    width: 50%;
  }
  .illustration-mockups img{
    height: auto;
    width: 100%;
  }
  .text-cta .cta-wrapper{
    padding: 0;
  }
  .cta-wrapper h1{
    font-size: 2rem;
    line-height: 38px;
    margin-top: 80px;
  }
  .cta-wrapper p{
    text-align: center;
  }
  .text-cta .cta-wrapper a{
    margin: 30px auto;
    display: block;
    padding: 10px;
    font-size: 20px;
  }
  footer{
    justify-content: center;
    margin-top: 30px;
  }
  .social-media{
    padding: 0;
  }
  .social-media a{
    font-size: 18px;
    padding: 12px;
    height: 45px;
  }
  
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .illustration-mockups img{
    height: auto;
  }
  .header{
    margin-bottom: 120px;
  }
}

@media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    /*max-width: 1320px;*/
    /*max-width: 1440px;*/
    /*max-width: 1590px;*/
    max-width: 1768px;
  }
  body{
    background-size: contain;
    background-image: url(images/bg-desktop.svg);
  }
  .illustration-mockups img{
    max-width: 100%;
    height: 615px;
  }
  footer{
    justify-content: flex-end;
  }
}